/* div {
    border: 1px solid red;
} */

.navbar {
color: white;
}

.img-fluid {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.card {
    border-radius: 10px;
    margin: 5px;
}

body {
    font-family: 'Helvetica'
}

.img-container {
    width: 100%;
}